<!--The content below is only a placeholder and can be replaced.-->
<main class="wrapper" style="padding-left: 10px;">
  <section
    class="currentThumbnailFrame"
    *ngIf="movies[0]"
    [ngStyle]="{
      background:
        'url(https://image.tmdb.org/t/p/w780' +
        movies[currentIndex].poster_path +
        ')',
      'background-repeat': 'no-repeat',
      'background-size': '100% 105%'
    }"
  ></section>
  <section class="moviemeta" *ngIf="movies[0]">
    <p class="title">{{ movies[currentIndex].title }}</p>
    <p class="adult" *ngIf="movies[currentIndex].adult">18+</p>
    <p class="adult" *ngIf="!movies[currentIndex].adult">16+</p>
    <p class="avgvotes">
      <span
        class="fa fa-star checked"
        *ngFor="let vote of setArray(movies[currentIndex].vote_average)"
      ></span>
    </p>

    <p class="releasedate">
      Release year {{ movies[currentIndex].release_date.split("-")[0] }}
    </p>
    <p class="overview">{{ movies[currentIndex].overview }}</p>
    <!-- {{ movies[0] | json }} -->
  </section>
  <section class="movieslider">
    <span *ngFor="let movie of movies; let i = index">
      <article
        class="smallthumbnail"
        *ngIf="movie.poster_path !== movies[currentIndex].poster_path"
        [ngStyle]="{
          background:
            'url(https://image.tmdb.org/t/p/w780' + movie.poster_path + ')',
          'background-repeat': 'no-repeat',
          'background-size': '100% 105%'
        }"
        (click)="viewFilmDetails(i)"
      ></article>
    </span>
  </section>
</main>
